QTabBar::tab {
    padding: 5px 30px;
}

QTabBar::tab:first {
 margin-left: 0px;
}

QTabBar::close-button {
  border: 1px solid #FFFFFF;
}

QTabBar::close-button:hover {
  background: url(':/vendor/chalkers/famfamfam/cross.png');
}

QTabBar::tab {
 margin-left: -5px;
}
